<section class="page-section cta">
  <div class="container">
      <div class="row">
          <div class="col-xl-9 mx-auto">
              <div class="cta-inner bg-faded text-center rounded">
                  <h2 class="section-heading mb-5">
                      <span class="section-heading-lower">Quelques liens utiles</span>
                      <span class="section-heading-upper">DIY (Do It Yourself)</span>
                  </h2>
                  <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://antidoteskateparks.fr/')">
                          Antidote Skatepark
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://skateandcreate.fr/')">
                          Skate And Create (Saint Jean de Maurienne)
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://tetanospark.com/')">
                          Tetanos Park
                      </li>
                  </ul>
                  <h2 class="section-heading mb-5">
                      <span class="section-heading-upper">BMX TRAIL et Associations</span>
                  </h2>
                  <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('http://www.trail-r.fr/')">
                          Trail R
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://www.bikeparkmontaiguvendee.com/')">
                          Bike Park Montaigu
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://banosdistro.com/')">
                          Banos distro
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://www.sectiontrail-nantes-bmx.com/')">
                          Section trail Nantes BMX
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('http://new.compressionbmx.com/')">
                          Compression BMX
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('http://bmxcyclopes.com/')">
                          BMX cyclopes
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://shape-bicycles.fr/')">
                          Shape Bicycles
                      </li>
                  </ul>

                  <h2 class="section-heading mb-5">
                    <span class="section-heading-upper">Magazines</span>
                  </h2>
                  <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('http://www.confuzine.com/')">
                          Confuzine
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://soulbmxmag.com/')">
                          Soul Mag BMX
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://digbmx.com/')">
                          Dig BMX
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://rideukbmx.com/')">
                          Ride UK BMX
                      </li>
                  </ul>

                  <h2 class="section-heading mb-5">
                    <span class="section-heading-upper">Associations Internationales</span>
                  </h2>
                  <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://wondersaroundtheworld.org/')">
                          Wonders Around The World
                      </li>
                      <li class="list-unstyled-item list-hours-item d-flex" (click)="goto('https://concretejunglefoundation.org/index.php')">
                          Concrete Jungle Foundation
                      </li>
                  </ul>
                  <h2 class="section-heading mb-5">
                    <span class="section-heading-upper">Carte des Spots</span>
                  </h2>
                  <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                    <div class="map">
                        <iframe class="map-if" src="https://www.google.com/maps/d/u/1/embed?mid=1cpnb63qf9yNPfH6JnbUJHKVDPfseCt8C&z=9"></iframe>
                      </div>
                  </ul>
              </div>
              
          </div>
      </div>
  </div>
</section>