.cta-inner {
  text-align: center;
}

.finalize {
  font-family: "Raleway";
  margin-top: 20px;
  background-color: #3363d0;
  border-color: #3363d0;
}

.finalize:hover {
  margin-top: 20px;
  background-color: #2b50a5;
  border-color: #2b50a5;
  transition: all 0.3s ease 0s;
}
