<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/assoc.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">L'association MIA</span>
            </h2>
            <p>Que tu sois pratiquant(e) d'un sport de glisse ou non, tu es le/la bienvenu(e) dans l'association. Adhérer permet de nous aider dans la construction du projet. Lorsque tu adhères, tu nous aides directement à rendre ce projet encore plus fou qu'il ne l'est. Tu pourras ainsi être informé(e) des différents évènements que l'association proposera. Adhérer, c'est faire vivre l'association !</p>
          </div>
        </div>
      </div>
    </div>
    <div class="helloasso">
      <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/madeinapremont/adhesions/adhesion-made-in-apremont/widget" style="width:100%;height:750px;border:none;" onload="window.scroll(0, this.offsetTop)"></iframe>
    </div>
  </div>
</section>