
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">inscription validée</span>
            <span class="section-heading-lower">MERCI</span>
          </h2>
          <p class="mb-0 shop-title">Nous avons bien reçu ta demande de participation au workshop {{wsName}}, nous allons maintenant étudier ta demande et revenir vers toi.</p>
          <div class="goto-button mx-auto">
            <a class="btn btn-primary btn-xl" (click)="navigate('/')">Merci</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>