<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">pourquoi les</span>
            <span class="section-heading-lower">WORKSHOPS</span>
          </h2>
          <p class="mb-0 shop-title">Tu veux nous aider en proposant ton aide directement sur le chantier ? Tu as la possibilité de t'inscrire à des workshop organisé pour une date donné. Pour chaque workshop, nous expliquons comment se déroulera la séance de travail. Beaucoup de personnes veulent nous aider, une fois inscrit sur la liste d'attente, nous reviendrons vers toi pour te donner plus d'informations.</p>
            <span class="mail-contact">contactmadeinapremont@gmail.com</span>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/chantier-1.jpg" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">le 19/03/2024</span>
          <span class="section-heading-lower">FERAILLAGE BOWL</span>
        </h2>
        <p class="mb-3">Nous avons besoin d'aide pour ferailler des courbes dans le bowl. </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" (click)="navigate('/workshop/register')">S'inscrire à ce workshop</a>
        </div>
      </div>
    </div>
  </div>
</section>
