<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">pourquoi les</span>
            <span class="section-heading-lower">ATELIERS</span>
          </h2>
          <p class="mb-0 shop-title">Tu veux nous aider en proposant ton aide directement sur le chantier ? Tu as la possibilité de t'inscrire à des ateliers organisés pour une date donnée. Pour chaque atelier, nous expliquons comment se déroulera la séance de travail. Beaucoup de personnes veulent nous aider, une fois inscrit sur la liste d'attente, nous reviendrons vers toi pour te donner plus d'informations.</p>
            <span class="mail-contact">contactmadeinapremont@gmail.com</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
Workshop {
  "visible": boolean,
  "endDate": string,
  "members": [],
  "startDate": string,
  "description": string,
  "id": string,
  "name": string,
  "nbMax": number,
  "type": "terrassement" | "ferraillage" | "beton" | "rangement" | "divers"
}
-->
<section class="page-section clearfix" *ngFor="let item of items">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/{{item.type}}.jpg" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">LE {{item.startDate | date:'dd/MM/yyyy'}} - {{item.nbMax}} PLACES</span>
          <span class="section-heading-lower">{{item.name}}</span>
        </h2>
        <p class="mb-3">{{item.description}} </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" (click)="navigate('/workshop/register', item)">S'inscrire à cet atelier</a>
        </div>
      </div>
    </div>
  </div>
</section>
