<h1 *ngIf="isCurrentRoute('/home')" class="site-heading text-center text-white d-none d-lg-block">
    <img class="typo-mia" src="assets/img/logo.png" alt="Made In Apremont">
    <span class="site-heading-upper text-primary mb-3">Un spot atypique pour une petite cité de caractère</span>
</h1>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" [ngClass]="{'fixed-top' : !isCurrentRoute('/home')}"
    id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">MIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4" [ngClass]="{'active' : isCurrentRoute('/home')}">
                    <a class="nav-link text-uppercase text-expanded" (click)="navigate('/home')">Accueil</a>
                </li>
                <li class="nav-item px-lg-4" [ngClass]="{'active' : isCurrentRoute('/news')}">
                    <a class="nav-link text-uppercase text-expanded" (click)="navigate('/news')">Actualités</a>
                </li>
                <li class="nav-item px-lg-4" [ngClass]="{'active' : isCurrentRoute('/skatepark')}">
                    <a class="nav-link text-uppercase text-expanded" (click)="navigate('/skatepark')">Le skatepark</a>
                </li>
                <li class="nav-item px-lg-4" [ngClass]="{'active' : isCurrentRoute('/association')}">
                    <a class="nav-link text-uppercase text-expanded"
                        (click)="navigate('/association')">L'association</a>
                </li>
               <!-- <li class="nav-item px-lg-4" [ngClass]="{'active' : isCurrentRoute('/partenaire')}">
                    <a class="nav-link text-uppercase text-expanded" (click)="navigate('/partenaire')">Les
                        partenaires</a>
                </li>-->
                <li class="nav-item px-lg-4" [ngClass]="{'active' : isCurrentRoute('/shop')}">
                    <a class="nav-link text-uppercase text-expanded" (click)="navigate('/shop')">Le shop</a>
                </li>
                <li class="nav-item px-lg-4" [ngClass]="{'active' : isCurrentRoute('/contact')}">
                    <a class="nav-link text-uppercase text-expanded" (click)="navigate('/contact')">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>