<section class="page-section about-heading">
  <div class="container">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner rounded">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/chantier-1.jpg" alt="First slide">
        </div>
      </div>
      <!--<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>-->
    </div>

    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Un skatepark pour tous</span>
            </h2>
            <p>Nous voulons créer un skatepark de type « bowl » en béton de manière participative mais accompagnée par une entreprise artisanale spécialisée. Notre but est de créer un lieu de vie pour les familles et un espace sportif de qualité pour les riders de tous niveaux</p>
          </div>
        </div>
      </div>
    </div>
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Lieu du chantier</span>
              </h2>
              <p class="mb-0 shop-title">L'emplacement du chantier est situé à côté du terrain multisports de la ville d'Apremont. Le skatepark sera construit ici:</p>
              <div class="map-google">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1326.0159791397718!2d-1.7366730563354282!3d46.74702040275353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4b675717406cdab9!2zNDbCsDQ0JzQ5LjMiTiAxwrA0NCcwOS4wIlc!5e1!3m2!1sfr!2sfr!4v1665876505090!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
</section>