<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">pourquoi un shop</span>
            <span class="section-heading-lower">FAIT MAISON</span>
          </h2>
          <p class="mb-0">Si tu es intéressé par un produit, n'hésites pas à nous contacter.
            La construction du bowl, la vie de l'association, les cours, les évènements, rien n'est possible sans argent.
            Nous avons choisi de créer nos propres teeshirt et quelques pièces de BMX.
            En achetant nous achetant un produit, tu nous aides à financer ce projet.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container shop-container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let item of items">
      <div class="product-grid">
        <div class="product-image">
          <div [id]="'carouselExampleControls'+item.id" class="carousel slide" data-ride="carousel"
            data-interval="60000">
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img [src]="item.pictures[0]">
              </div>
              <div class="carousel-item">
                <img [src]="item.pictures[1]" *ngIf="item.pictures[1] != null">
              </div>
              <a *ngIf="item.pictures.length>1" class="carousel-control carousel-control-prev" [href]="'#carouselExampleControls'+item.id"
                role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a *ngIf="item.pictures.length>1" class="carousel-control-next" [href]="'#carouselExampleControls'+item.id" role="button"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <ul class="social">
            <li>
              <div class="iwantyou" (click)="addToCart(item)">"Ajouter au panier"</div>
            </li>
          </ul>
          <!-- <span class="product-new-label">Bientôt en vente !</span> -->
        </div>
        <div class="product-content">
          <h3 class="title"><span>{{ item.name }}</span></h3>
          <div class="price"><span>{{ item.price | number:'1.2'}} € | <span *ngIf="item.stock > 0" [ngClass]="{'red': item.stock == 1, 'orang' : item.stock < 4 && item.stock > 1 , 'green' : item.stock > 3  }">{{ item.stock }} en stock</span><span class="red" *ngIf="item.stock == 0">sur commande</span></span></div>
        </div>
      </div>
    </div>
  </div>
</div>