<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Un skatepark de fou à</span>
          <span class="section-heading-lower">Apremont</span>
        </h2>
        <p class="mb-3">Un projet de skatepark unique dans la ville d'Apremont. Ce projet véhicule un pure style DIY
          (fais le toi même). Le bénévola, la passion, le partage des connaissances, la mémoire sont quelques unes de
          nos sources de motivation.</p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" (click)="navigate('/skatepark')">En savoir plus sur le skatepark</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex mr-auto rounded zone-description">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Un projet bien plus large</span>
            <span class="section-heading-lower">Sport, art & culture</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/projet.jpg" alt="">
      <div class="product-item-description d-flex ml-auto">
        <div class="bg-faded p-5 rounded text-center zone-description">
          <p class="mb-3">Le skatepark n'est qu'une petite partie du projet construit par l'association</p>
          <div class="goto-button mx-auto">
            <a class="btn btn-primary btn-xl" (click)="navigate('/association')">En savoir plus sur le projet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ml-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Des membres investis</span>
            <span class="section-heading-lower">M.I.A. Made In Apremont</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/assoc.jpg" alt="">
      <div class="product-item-description d-flex mr-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Chaque membre de l'association participe au projet à sa manière, avec ses qualifications et
            ses envies.</p>
          <div class="goto-button mx-auto">
            <a class="btn btn-primary btn-xl" (click)="navigate('/association')">En savoir plus sur l'association</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Nous rejoindre</span>
            <span class="section-heading-lower">PARTICIPEZ</span>
          </h2>
          <p class="mb-0">Pour suivre l'avancement du projet, nous aider, adhérez à l'association, nous t'invitons à
            nous rejoindre ou à prendre contact avec nous !</p>
          <br />
          <a class="btn btn-primary btn-xl" (click)="navigate('/contact')">Rejoins nous !</a>
        </div>
      </div>
    </div>
  </div>
</section>