<section class="page-section about-heading">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 mx-auto">
        <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="cta-inner text-center rounded">
                  <div class="button-edit">
                    <a class="btn btn-primary btn-sm btn-marged" (click)="onChangePayStatus()" *ngIf="!member.isHelloAsso">Changer le statut de paiement</a>
                    <a class="btn btn-primary btn-sm" (click)="goBack()">Retour</a>
                  </div>
                  <div class="article-stock"><span class="subtitle">Date de l'ajout:</span> {{ member.creationDate }}</div>
                  <div class="article-stock" *ngIf="!hasEmail(member.email)"><span class="subtitle">Email:</span> pas d'email</div>
                  <div class="article-stock" *ngIf="hasEmail(member.email)"><span class="subtitle">Email:</span> {{ member.email }}</div>
                  <div class="article-name"><span class="subtitle">Nom:</span> {{ member.lastName }}</div>
                  <div class="article-id"><span class="subtitle">Prénom:</span> {{ member.firstName }}</div>
                  <div class="article-type"><span class="subtitle">Date de naissance:</span> {{ member.dateOfBirth }}</div>
                  <div class="article-price"><span class="subtitle">Téléphone:</span> {{ member.phoneNumber }}</div>
                  <div class="article-stock"><span class="subtitle">Adresse:</span> {{ member.address }} {{ member.postalCode }} {{ member.city }}</div>
                  <div class="article-stock"><span class="subtitle">Pratique:</span> {{ member.practice }}</div>
                  <div class="article-stock"><span class="subtitle">HelloAsso:</span> <span *ngIf="member.isHelloAsso"> OUI</span><span *ngIf="!member.isHelloAsso"> NON</span></div>
                  <div class="article-stock"><span class="subtitle">A payé:</span> <span *ngIf="member.hasPaid"> OUI</span><span *ngIf="!member.hasPaid"> NON</span></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</section>
